
.button{
  display: flex;
  justify-content: center;
  margin-left: 650px;
}


.load-more-button-simple {
  /* display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid #003366; 
  color: #003366; 
  background-color: transparent;
  border-radius: 9999px; 
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out; */

  display: flex;
  align-items: center;
  padding: 13px 13px;
  border: 1px solid #003366;
  color: #003366;
  background-color: transparent;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.load-more-button-simple:hover {
  background-color: #f5f8fb; 
}

.arrow-icon {
  /* margin-top: 2px;
  margin-left: 6px;
  font-size: 25px;
  line-height: 1;
  transform: translateY(2px); 
  display: inline-block; */

  margin-left: auto;
  margin-right: 0;
  margin-top: -20px;
  font-size: 25px;
  line-height: 1;
  transform: none;
  display: inline-block;
  padding-left: 8px;
}