
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  font-family: 'Poppins', sans-serif;
}

/* Logo Section */
.navbar-logo .logo-text {
  font-weight: 600;
  font-size: 30px;
  color: #002b45;
  letter-spacing: 0.5px;
}

.logo-highlight {
  color: #002b45;
  font-weight: 900; /* <-- makes HUB bold */
  position: relative;
  z-index: 1;
  /* padding: 0 0.1px; */
}

.logo-highlight::before {
  content: '';
  position: absolute;
  top: -17px;
  left: 30%;
  width: 43%;
  height: 120%;
  background-color: #fbb034; 
  clip-path: polygon(50% 20%, 100% 60%, 100% 100%, 0 100%, 0 60%);
  z-index: -1;
  border-radius: 2px;
}

/* Navigation Links */
.navbar-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #002b45;
  font-weight: 500;
  font-size: 14px;
}

.navbar-links a:hover {
  color: #f39c12;
}

/* Buttons */
.navbar-buttons {
  display: flex;
  gap: 16px;
}

.btn {
  all: unset;
  display: flex;
  align-items: center;
  gap: 6px;
  border: 2px solid #ffa500; /* bright orange */
  color: #ffa500;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  border-radius: 50px;
  padding: 6px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
}

/* .btn:hover {
  background-color: #ffa500;
  color: #ffffff;
} */

.btn-icon{
    /* font-size: 16px; */
    width: 28px;   /* adjust as needed */
    height: 28px;
    object-fit: contain;
    display: flex;
    align-items: center;
}
